<div class="container">
  <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_post_path, class: "btn btn-danger btn-circle" %>
  <div class="row">
    <% @posts.each do |post| %>
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= post.user.username %><span class="small pull-right"><%= time_ago_in_words(post.created_at) %> ago</span> </h3>
            </div>
            <div class="panel-body">
              <%= image_tag post.image(:original), alt: post.description.truncate(20), class: "img-responsive" %><br>
              <p><strong><%= post.user.username %></strong> <%= post.description %></p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
